@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

html {
    font-size: .90rem;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}

@supports (grid-area: auto) {

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: max-content max-content max-content;
        grid-template-areas:
            "nav nav nav nav"
            "article article article aside"
            "footer footer footer footer";
    }

    nav {
        grid-area: nav;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: #009933;
        padding: 5px 0 5px 10px;
    }

    article {
        grid-area: article;
    }

    aside {
        grid-area: aside;
    }

    aside ul {
        list-style-type: none;
    }

    footer {
        grid-area: footer;
    }

    .img-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

h1 {
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Yeseva One', cursive;
}

h2 {
    font-size: 1.75rem;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    color: red;
}

h3 {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    color: green;
}

nav ul li {
    font-size: 15px;
    display: inline;
    margin: 5px;
}

nav a {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: orange;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: orange;
}

header {
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    color: white;
}

footer {
    color: white;
    background-color: #00cc66;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: .9rem;
}

footer li {
    display: inline;
}

img {
    width: 50%;
    margin: 10px;
    border: 2px solid red;
}

article {
    background-color: #99ffcc;
    padding: 10px;
}

article ul li {
    font-weight: 700;
}

aside {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.box {
    border: 1px solid red;
    margin: 1em;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.credit {
    font-size: 10px;
}

.aside-title {
    font-weight: 700;
    font-size: 17px;
}

.aside-address {
    font-size: 15px;
    color: red;
}

.aside-phone {
    font-size: 12px;
}
